body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Stopwatch {
  color: #ccc;
  display: flex;
  letter-spacing: 2px;
  font-size: 5rem;
}

.Stopwatch span {
  position: relative;
  top: 5px;
  font-size: 4rem;
}

.time-text {
  font-size: 5rem;
  margin: 0;
}
