.Controls button {
  border: none;
  padding: unset;
  background-color: transparent;
  height: 2rem;
  cursor: pointer;
  margin-left: 0.4rem;
  .play-btn {
    color: $btn-primary;
  }
  .stop-btn {
    color: lightcoral;
  }
  .reset-btn {
    color: $gray;
  }
}
