.Controls {
  white-space: nowrap;
  button {
    border: none;
    padding: unset;
    background-color: transparent;
    height: 2rem;
    margin-left: 0.4rem;
    cursor: pointer;

    .play-btn {
      color: $btn-primary;
    }
    .stop-btn {
      color: lightcoral;
    }
    .reset-btn {
      color: $gray;
    }
  }
}
