.EventsTable {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  box-shadow: 1px 10px 8px -2px rgba(61, 61, 61, 0.75);
  -webkit-box-shadow: 1px 10px 8px -2px rgba(61, 61, 61, 0.75);
  -moz-box-shadow: 1px 10px 8px -2px rgba(61, 61, 61, 0.75);
  li:first-child {
    margin-bottom: 1.2rem;
  }
  .day-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.3rem;
    .day-total {
      margin-right: 1.6rem;
    }
  }
  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $item-hover-brackground;
    margin-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
      background-color: $item-hover-brackground;
    }
  }
  .menu {
    button {
      background-color: transparent;
      color: white;
      border: unset;
      margin: 0;
      padding: 0.2rem;
      margin-left: 0.2rem;
      border-radius: 0.2rem;

      &:hover {
        background-color: #5c6577;
        cursor: pointer;
      }
    }
  }

  .date-picker {
    display: inline-block;
  }
  .custom-datepicker-input {
    background-color: transparent;
    color: white;
    border: unset;
    width: fit-content;
    margin: 0;
    padding: 0.2rem;
    font-size: 1.1rem;
    border-radius: 0.2rem;

    &:hover {
      background-color: #5c6577;
    }
  }

  .rigth-side {
    .total {
      margin-left: 2rem;
    }
  }
}

[data-reach-menu-list],
[data-reach-menu-items] {
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  background-color: white;
  border: none;
}
// [data-reach-menu-popover] {
//   background: red;
//   // color: white;
// }
[data-reach-menu-item] {
  // padding: 20px 10px;
  margin: 0;
  border: none;
  border-radius: 0.3rem;
}
