/*========================
  Media queries mixins
  ========================*/

$sm-mobile: 320px;
$mobile: 480px;
$lg-mobile-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
$wide-with: 1440px;

@mixin mobile {
  @media ( max-width: #{$lg-mobile-width - 1px} ) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$lg-mobile-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@mixin up-to-tablet {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
