.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 11rem;
  height: 100%;
  background-color: $sidebar-brackground;
  color: white;
  border-right: 1px solid $sidebar-border;
  .logo {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    .bold {
      font-weight: bolder;
    }
  }

  .active-link {
    background-color: $item-hover-brackground;
    transition: 0.1s;
    border-left: 0.5rem solid $accent;
  }

  ul {
    margin-top: 1rem;
    font-size: 1rem;
  }

  li {
    a {
      display: flex;
      align-items: center;
      padding: 0.5rem;

      color: $gray;
      padding: 1rem;
      display: block;
      // color: white;
      text-decoration: none;
      &:visited {
        text-decoration: none;
      }
    }
    &:hover {
      background-color: $item-hover-brackground;
      color: $white;
    }
    span {
      color: $icons;
      margin-right: 0.5rem;
    }
  }
  .seed-buttons {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5rem;
    width: 11rem;
    .add-data-btn {
      width: 9rem;
      color: $white;
      background-color: $btn-primary;
      font-size: 1rem;
      border: none;
      border-radius: 0.2rem;
      padding: 0.5rem;
      margin: 0.5rem 1rem;
    }

    .remove-data-btn {
      width: 9rem;
      color: $white;
      background-color: lightcoral;
      font-size: 1rem;
      border: none;
      border-radius: 0.2rem;
      padding: 0.5rem;
      margin: 0.5rem 1rem;
    }
  }
}
