.Projects {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  table {
    border-radius: 0px;
    padding: 0px;
    width: 100%;
    // background-color: rgb(255, 255, 255);
    border-top: medium none;
    border-collapse: initial;
    box-shadow: rgba(235, 231, 235, 0.5) 0px -1px 0px 0px inset;
    table-layout: fixed;

    thead {
      vertical-align: initial;
    }

    th {
      text-align: left;
      height: 50px;
      padding: 0px 10px;
      padding-left: 10px;
      font-size: 11px;
      font-weight: 600;
      vertical-align: middle;
      color: rgb(149, 137, 155);
      cursor: default;
      text-transform: uppercase;
      box-shadow: rgba(235, 231, 235, 0.5) 0px -1px 0px 0px inset;
    }

    td {
      height: 100%;
      white-space: pre;
      vertical-align: middle;
      box-shadow: rgba(235, 231, 235, 0.5) 0px -1px 0px 0px inset;
      line-height: normal;
      min-width: 0px;
      height: auto;
      overflow: hidden;
      padding: 10px;
      padding-left: 10px;
      white-space: nowrap;
      div {
        display: flex;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
      }
    }
  }
}


.project-form-modal{
  position: relative;
  width: 20rem;
  border-radius: .5rem;
  padding: 1rem;
  h2{
    color: black;
  }
  
  .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    background-color: transparent;
    border: unset;
  }
}