.ProjectsDown {
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  top: 2.5rem;
  // left: -6.5rem;
  max-width: 23rem;
  max-height: 30rem;
  z-index: 100;

  .project-list-item {
    &:hover {
      background-color: $accent;
    }
  }
  .client-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    // background-color: red;
    text-decoration: underline;
  }
}
